# Node.js
node_modules
npm-debug.log*
yarn-error.log

# IDE files
.idea/
.vscode/

# Build and distribution artifacts
dist/
build/*
!build/icon.svg
!build/icon.png
!build/icon.ico
!build/icon.icns
out/
release/
*.log

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db

# Playwright test reports
playwright-report/
test-results/


lib/pdfjs/*

.env
.env.local
.env.*.local

.claude
